In [44]:
#import dependencies
import pandas as pd

In [45]:
# read in csv files 
path1 = 'Resources\hawaii_measurements.csv'
path2 = 'Resources\hawaii_stations.csv'

# create Hawaii weather measurements dataframe
HWeather_df = pd.read_csv(path1)

HWeather_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [46]:
# create Hawaii weather stations info dataframe
HStations_df = pd.read_csv(path2)

HStations_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [52]:
#changing date to datetime object
HWeather_df['date'] = pd.to_datetime(HWeather_df['date'])

# Change station from object to string (not sure if this does anything)
HWeather_df['station'] = HWeather_df['station'].astype('str')

HWeather_df.dtypes

station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [51]:
# Examining datatypes in HWeather_df and dropping NaN values
'''
The NaN values do not seem to hinder graphing as the dtypes of prcp and tobs are numeric
I therefore do not drop NaN values, as I would also lose 'tobs' data for the day since 
there seems to be no NaN values for 'tobs'. 
'''
HWeather_df.dtypes
#HWeather_df = HWeather_df.dropna()

station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [53]:
# Checking datatypes for the stations
HStations_df.dtypes

station       object
name          object
latitude     float64
longitude    float64
elevation    float64
dtype: object

In [57]:
# Saving each df as cleaned datasets
path = "Resources/"
HWeather_df.to_csv(path +"clean_hawaii_measurements.csv")
HStations_df.to_csv(path + "clean_hawaii_stations.csv")