In [1]:
# import dependencies
import pandas as pd
from sqlalchemy import Column, String, Integer, Float, Date, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import create_engine, MetaData, Table, inspect 
from sqlalchemy.orm import Session
import pymysql

In [2]:
# Use Pandas to read your cleaned measurements and stations CSV data.
path1 = 'Resources/clean_hawaii_measurements.csv'
path2 = 'Resources/clean_hawaii_stations.csv'
HWeather_df = pd.read_csv(path1)
HStation_df = pd.read_csv(path2)

HWeather_df.head()

   Unnamed: 0      station        date  prcp  tobs
0           0  USC00519397  2010-01-01  0.08    65
1           1  USC00519397  2010-01-02  0.00    63
2           2  USC00519397  2010-01-03  0.00    74
3           3  USC00519397  2010-01-04  0.00    76
4           4  USC00519397  2010-01-06   NaN    73

In [3]:
Base = declarative_base()

# Use the `engine` and connection string to create a database called `hawaii.sqlite`.
engine = create_engine('sqlite:///Resources/hawaii.db')

# MetaData is a container object that keeps together many different features of a database 
# (or multiple databases) being described.
metadata = MetaData(engine)

In [4]:
# Create class Stations for use with HStation_df
Stations = Table("Station", metadata,
    Column("station_id", Integer, primary_key=True, nullable=False),
    Column("station", String(255), primary_key=True, nullable=False),
    Column("name", String(255)),
    Column("latitude", Float),
    Column("longitude", Float),
    Column("elevation", Float)           
)

In [5]:
# Create class Measurements for use with HMeasure_df
Measurement = Table("Measurement", metadata,
    Column("record_id", Integer, primary_key=True, nullable=False),
    Column("station", String(255), ForeignKey("Station.station"), primary_key=True),
    Column("date", Date),
    Column("precip", Float),
    Column("temp", Float) 
)

In [6]:

# Create the table within the database
Base.metadata.create_all(engine)

# create session
session = Session(bind=engine)

In [7]:
# Creating both tables
metadata.create_all()

In [8]:
# Using pandas to get each HWeather_df row into Hawaii_weather.db
HWeather_df.to_sql("Measurement", engine, if_exists='replace')
# get HStation_df into Hawaii_weather.db
HStation_df.to_sql("Station", engine, if_exists='replace')

In [9]:
# Testing if HWeather_df got added to Hawaii.db
ins = inspect(engine)
for _t in ins.get_table_names(): print (_t)

Measurement
Station

In [10]:
columns = ins.get_columns("Station")
for column in columns:
    print(column)

{'name': 'index', 'type': BIGINT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'Unnamed: 0', 'type': BIGINT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'station', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'name', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'latitude', 'type': FLOAT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'longitude', 'type': FLOAT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'elevation', 'type': FLOAT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}

In [11]:
query = "SELECT * FROM Station LIMIT 10"
pd.read_sql_query(query, engine)

,index,Unnamed: 0,station,name,latitude,longitude,elevation
0,0,0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,1,1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,2,2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,3,3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,4,4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,5,5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,6,6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,7,7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,8,8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4